@import "./mixins/colors.scss";
@import "./mixins/mixins.scss";

.wineBottle {
  position: fixed;
  bottom: 0;
  right: 5vw;
  width: 18rem;
  z-index: -1;
  transform-origin: top center;
  height: 27rem;
  margin: 0 auto;

  @include tablet {
    width: 20rem;
    height: 60rem;
  }
  @include desktop {
    width: 20rem;
    height: 70rem;
  }
  @include large-desktop {
    width: 22rem;
    height: 80rem;
  }

  // Szyja butelki
  .neck {
    position: absolute;
    top: -2rem;
    left: 50%;
    width: 5rem;
    height: 12rem;
    background-color: $winetu-teal-lite;
    border-radius: 20px 20px 0 0;
    transform: translateX(-50%);

    @include tablet {
      width: 4.7rem;
      height: 11rem;
      top: -1rem;
    }
    @include desktop {
      width: 5rem;
      height: 14rem;
    }
    @include large-desktop {
      width: 5.2rem;
      height: 16rem;
    }
  }

  // Krążek
  .ring {
    position: absolute;
    top: 9rem;
    left: 50%;
    width: 17rem;
    height: 17rem;
    background-color: $winetu-teal-lite;
    border-radius: 50% 50%;
    transform: translateX(-50%);

    @include tablet {
      width: 17rem;
      height: 17rem;
      top: 9rem;

    }
    @include desktop {
      width: 17rem;
      height: 17rem;
    }
    @include large-desktop {
      width: 17rem;
      height: 17rem;
    }
  }

  // Korpus butelki
  .body {
    position: absolute;
    top: 18rem;
    left: 50%;
    width: 17rem;
    height: 100%;
    background-color: $winetu-teal-lite;
    transform: translateX(-50%);

    @include tablet {
      height: 45rem;
    }
    @include desktop {
      height: 60rem;
    }
    @include large-desktop {
      height: 70rem;
    }
  }
}
