@import "./mixins/mixins.scss";

.wineBottle {
  position: fixed;
  bottom: -5vh;
  top: 50vh;
  right: 5vw;
  width: 17rem;
  height: 70vh;
  background-color: rgba(0, 86, 77, 0.28);
  border-radius: 35% 35% 10% 10%;
  z-index: -1;
  transform-origin: top center;

  @include tablet {
    width: 16rem;
    top: 60vh;
  }
  @include desktop {
    width: 20rem;
    top: 60vh;
  }
  @include large-desktop {
    width: 22rem;
    top: 50vh;
  }
}

.neck {
  position: absolute;
  top: -15rem;;
  left: 50%;
  width: 5rem;
  height: 15rem;
  background-color: rgba(0, 86, 77, 0.28);
  border-radius: 20px 20px 0px 0px;
  transform: translateX(-50%);

  @include tablet {
    width: 4rem;
  }
  @include desktop {
    width: 6rem;
  }
  @include large-desktop {
    width: 7rem;
  }
}
